.addon-page-container{

 .progress-indicator{
    margin-top: var(--pep-spacing-sm, 0.5rem)
 }

 .section-title {
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
    h4 {
        margin-bottom:.75rem;
        margin-top: 0;
    }
}

.narrow {
    max-width:34rem;
}


}