<div class="dialog">
    <pep-dialog [showClose]="false" [showHeader]="false">
        <ng-container pep-dialog-content>
            <p class="body-md">
                {{'Data_index_publish_body' | translate}}
            </p>
            <p class="body-md">
                {{'Data_index_publish_question' | translate}}
            </p>
           <mat-radio-group class="radio-group" [(ngModel)]="outputData.runType">
                <mat-radio-button class="mat-radio-button pull-left pep-radio-button radio-spacing" checked value="1">
                    {{ 'Data_index_publish_run_now' | translate}}
                </mat-radio-button>
                <mat-radio-button class="mat-radio-button pull-left pep-radio-button radio-spacing"  value="2">
                   {{ 'Data_index_publish_run_at' | translate}}
                </mat-radio-button>
                <pep-select [showTitle]="false" [emptyOption]="false" [value]="outputData.runTime"
                        [options]="timeOptions" (valueChange)="onTimeChange($event)"></pep-select>
            </mat-radio-group> 
        </ng-container>

    <ng-container pep-dialog-actions class="pepperi-border-top">
            <div class="spacing-element-negative">
            <pep-button  [value]="'Data_index_Cancel' | translate"
                [sizeType]="'md'" [styleType]="'weak'" [classNames]="'pep-spacing-element pull-left flip'"
                [mat-dialog-close]>
            </pep-button> 
            <pep-button  [value]="'Data_index_Confirm' | translate"
                [sizeType]="'md'" [styleType]="'strong'" [classNames]="'pep-spacing-element pull-left flip'"
                [mat-dialog-close]="outputData">
            </pep-button> 

            
            </div>
        </ng-container>
    </pep-dialog>
</div>
